<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <title>ShoolApp</title>

    <!-- Styles -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/chartist.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet" media="screen">
    <!--<link href="/assets/css/style.css" rel="stylesheet" media="screen">-->
       <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <!--<link rel="stylesheet" href="/css/bootstrap.css" />-->
    <script src="/js/jquery.min.js"></script>


  </head>
  <body>
    {{{body}}}
          <div class="footer">
            <p>&copy; 2018 Center for Digital Innovation, Inc. </p>
          </div>

      <!-- Scripts -->

      <script src="/assets/js/jQuery_v3_2_0.min.js"></script>
		  <script src="/assets/js/jquery-ui.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
		  <script src="/assets/plugins/owl.carousel.min.js"></script>
		  <script src="/assets/plugins/Chart.min.js"></script>
		  <script src="/assets/plugins/jquery.dataTables.min.js"></script>
		  <script src="/assets/plugins/dataTables.responsive.min.js"></script>
      <script src="/assets/js/js.js"></script>

  </body>
</html>
